/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
 ----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* Global
 ----------------------------------------------------------------------------- */

body {
	background: rgba(3,3,3,0.9);
}

p  {
	color: #dad4ec;
	font-size: 36px;
	font-family: 'Bungee Shade';
	letter-spacing: 1px;
	margin-bottom: 36px;
}

a {
  text-decoration: none;
}

audio {
	display: none;
}

.player_big {
	height: 52px;
	width: 43px;
	background: none;
  -webkit-animation: cssAnimation 1s 1 ease;
  -moz-animation: cssAnimation 1s 1 ease;
  -o-animation: cssAnimation 1s 1 ease;
  }
  @-webkit-keyframes cssAnimation {
  from { -webkit-transform: scale(1); }
  to { -webkit-transform: scale(1.2); }
  }
  @-moz-keyframes cssAnimation {
  from { -moz-transform: scale(1); }
  to { -moz-transform: scale(1.2); }
  }
  @-o-keyframes cssAnimation {
  from { -o-transform: scale(1); }
  to { -o-transform: scale(1.2); }
  }
}

.player_small {
	height: 39px;
	width: 32px;
  -webkit-filter: saturate(200%);
	-moz-filter: saturate(200%);
	filter: saturate(200%);
}

.player_big, .player_small {
	position: absolute;
	left: 200px;
	top: 200px;
}

#stage {
	position: relative;
	width: 600px;
	height: 450px;
	padding: 20px;
	background: url('sideshow_images/stage.png');
	overflow: hidden;
}
#stage, .info {
	float: left;
}

.info {
	margin: 5px !IMPORTANT;
}

.description {
	width: 100%;
	margin: auto;
	padding: 12px;
	text-align: center;
}

.music  {
	margin-bottom: 12px;
}

.joystick {}
.joystick button {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  width: fit-content;
  min-width: 72px;
	min-height: 72px;
  margin: 22px auto;
  padding: 6px;
  border: 2px solid #dad4ec;
  border-radius: 16.666%;
	color: #f3e7e9;
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
	background-blend-mode: multiply,multiply;
}
.joystick button:hover {
	-webkit-filter: hue-rotate(180deg);
	-moz-filter: hue-rotate(180deg);
	filter: hue-rotate(180deg);
}

#stats_pane {
  position: fixed;
	width: 60px;
	padding: 5px;
	font-size: 18px;
	border: 0;
	color: #f3e7e9;
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
	background-blend-mode: multiply,multiply;
}

.points {
	color: #dad4ec;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
}

/* Icons
----------------------------------------------------------------------------- */

.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
	clear: both;
	margin-top: 12px;
}

ul.icons li {
  display: inline-block;
  padding: 6px;
}

ul.icons li .icon:before {
  font-size: 26px;
}
ul.icons li .icon {
	color: #dad4ec;
}

ul.icons li a {
	opacity: 1;
}

ul.icons li a:hover {
  text-decoration: none;
  background: none;
	opacity: 0.7;
	transition: opacity .6s ease-out;
	-moz-transition: opacity .6s ease-out;
	-webkit-transition: opacity .6s ease-out;
	-o-transition: opacity .6s ease-out;
}


/* Media Queries
 ----------------------------------------------------------------------------- */

@media screen and (max-width: 960px) {
	.info {
		width: 640px;
		float: none;
	}
	ul.icons {
		margin-top: 60px;
	}
}
